* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Slab', serif;
}

.navbar {
    display: flex;
    align-items: center;
    padding: 20px;
}

.logo {
    margin-left: -20px;
    padding-top: 10px;
}

nav {
    flex: 1;
    text-align: right;
}

ul {
    display: inline-block;
    list-style-type: none;
}

ul li {
    display: inline-block;
    margin-right: 20px;
    position: relative;
    transition: all 0.4s ease-in-out;
}

.line::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: rgb(152, 104, 192);
	left: 50%;
	bottom: -2px;
	transition: all 0.4s ease-in-out;
}

li:hover {
    
	transition: all 0.4s ease-in-out;
    transform: translateY(-2px);

}

li:hover .line::after{
    
    transform: translateY(2px);
    width: 100%;
    left: 0;

}

a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
    font-weight: 400;
}

.container {
    max-width: 1300px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.row {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-around;
}

.col-2 {
    flex-basis: 50%;
    min-width: 300px;
}

.col-2 img {
    max-width: 100%;
    padding: 50px;
}

.col-2 h1 {
    font-size: 50px;
    line-height: 60px;
    margin: 25px 0;
    font-weight: 400;
}

.header {
    background: radial-gradient(#fff, #fbc2eb);
}

.account{

    position: relative;

}

.dropdown-content{

    display: none;
    position: absolute;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    text-align: center;
    margin-left: -20px;
    margin-top: 5px;

}

.dropdown-content li {

    text-decoration: none;
    display: block;
    margin: 0;
    padding: 10px;
    margin: 10px;

}

.line2{

    margin-right: 0;

}

.account:hover .dropdown-content {

    display: block;

}

.line2::after {
	position: absolute;
	content: "";
	width: 0%;
	height: 2px;
	background-color: rgb(152, 104, 192);
	left: 0;
	bottom: -2px;
	transition: all 0.4s ease-in-out;
    padding: 0;
}


.dropdown-content li:hover .line2::after{
    
    transform: translateY(2px);
    width: 100%;
    
}

/* CART CONTAINER */
.cart-container {
    background-color: #fbc2eb;  
    margin: 100px 15% 0px;
    display: flex;
    justify-content: center;
}
.cart-page table {
    width: 100%;
    border-collapse: collapse;
}
.cart-page img{
    height: 64px;
    width: 64px;
    margin-right: 10px;
}
.cart-page th{
    padding: 10px;
    text-align: left;
    color: black;
    background-color: #f755c9;
}
.cart-page a{
    color: red;
}
.cart-page td{
    padding: 20px 10px;
}
.cart-page td input{
    width: 90px;
    height: 32px;
    padding: 10px;
}
.cart-info {
    display: flex;
    flex-wrap: wrap;
}
.cart-total{
    background-color: #fbc2eb;
    margin: 0 15%;
    padding-bottom: 100px;
    display: flex;
    justify-content: flex-end;
}
.cart-total table{
    border-top: 4px solid #f755c9;
    width: 100%;
    max-width: 400px;
    padding: 10px 0;
}

/* ABOUT US */
.about{
    margin-top: 80px;
    padding: 20px;
    width: 40%;
}
.about .title{
    text-transform: uppercase;
    font-size: 1.5em;
}
.about h3{
    margin-top: 10px;
    color: #555;
    font-size: 24px;
}
.about p{
    margin-top: 5px;
    color: #555;
    font-size: 16px;
    line-height: 1.5;
}
.about .button{
    margin: 20px 0px;
}
.about .button a{
    background-color: #555;
    padding: 10px;
    text-decoration: none;
    color: white;
    font-size: 16px;
    letter-spacing: 1px;
}
.about .button a:hover{
    background-color: #ff00b7;
    color: #555;
}
.about .social{
    margin-top: 30px;
}
.about .social i{
    color: #555;
    font-size: 32px;
    padding: 0 10px;
}
.about .social i:hover{
    color:#ff00b7;
}

/* CONTACT */
.contact{
    margin: 20px 15% 100px;
    border: 3px solid grey;
    max-width: 850px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
    align-items: center;
    text-align: center;
}
.contact .esquerda{
    height: 100%;
    background: url("images/PetStore.png") no-repeat center;
    background-size: cover;
}
.contact .direita{
    padding: 20px 40px;
}
.contact h2{
    position: relative;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.contact h2:after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 40px;
    border-radius: 2px;
    background-color: #ff00b7;
}
.contact .field{
    width: 100%;
    padding: 0.5rem 1rem;
    background-color: rgba(230, 230, 230, 0.6);
    outline: none;
    border: 3px solid rgba(0, 0, 0, 0);
    font-size: 1.1rem;
    margin-bottom: 20px;
    transition: 0.3s;
}
.contact .field:hover{
    background-color: 3px solid rgba(0, 0, 0, 0.1);
}
.contact .field:focus{
    background-color: #fff;
    border: 3px solid grey;
}
.contact .area{
    min-height: 150px;
    max-height: 150px;
    min-width: 350px;
    max-width: 350px;
}
.contact .btn{
    border: none;
    outline: none;
    width: 100%;
    padding: 5px;
    color: #555;
    cursor: pointer;
}
.contact .btn:hover{
    background-color: #fff;
    border: 3px solid grey;
}

.categories {
    margin: 70px 0;
}

.col-3 {
    flex-basis: 25%;
    padding: 10px;
    min-width: 200px;
    margin-bottom: 50px;
    transition: all 0.4s ease-in-out;
}

.col-3 img {
    width: 100%;
}

.col-3:hover {
    transform: translateY(-5px);
}

.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 25px;
    padding-right: 25px;
}

.title {
    text-align: center;
    margin: 0 auto 80px;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after {
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: #ff00b7;
}

.rating {
    color: #cc1a9a;
}