.boxProduct{
    max-width: 1080px;
    margin: 0 20px;
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}

.info{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

.prod{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 300px;
}

.image{
    height: 100px;
    margin-right: 10px;
}

.price{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 150px;
}
.qnt{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 200px;
}
.subtotal{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 100px;
}

.add{
    margin-top: -20px;
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.add p{
    width: 200px;
    padding-top: 20px;
    padding-left: 35px;
}