.in{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.form{
    display: flex;
    flex-direction: column;
}

.form label{
    font-size: 20px;
    text-align: center;
}

.in input{
    height: 30px;
    width: 250px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
}

.form textarea{

    height: 150px;
    width: 250px;
    font-size: 15px;
    border-radius: 10px;
    border: 2px solid #d2bdff;
    margin-left: 10px;
    text-align: center;

}

.readOnly{
    background-color: rgb(254, 212, 254);
    cursor: not-allowed; 
}

.inline{
    display: inline-block;
}

.submit{

    margin-top: 15px;
    cursor: pointer;
    margin-left: 10px;
    max-height: 60px;
    font-size: 20px;
    padding: 15px;
    background-color: rgb(247, 240, 245);
    box-shadow: 2px 2px 2px rga(0, 0, 0, 0.2);
    border: 2px solid #fbfbfb;
    background-color: #d2bdff;
    border-radius: 8px;

}

.submit:hover{
    background-color: #21fd8f;
    transition: all 0.8s ease-in-out;
}

.cancel{

    margin-top: 15px;
    cursor: pointer;
    margin-left: 10px;
    max-height: 60px;
    font-size: 20px;
    padding: 15px;
    box-shadow: 2px 2px 2px rga(0, 0, 0, 0.2);
    border: 2px solid #d2bdff;
    background-color: #fbfbfb;
    border-radius: 8px;

}

.cancel:hover{
    background-color: #ff8282;
    border: 2px solid #000;
    transition: all 0.4s ease-in-out;
}

.end{
    display: flex;
    align-content: center;
}

.btn{
    padding: 10px 25px 10px 25px;
    border: 2px solid #d2bdff;
    border-radius: 5px;
    background-color: #fbfbfb;
    max-width: 20vw;
    margin: 0 auto;
}

.btn:hover{
    cursor: pointer;
    background-color: #fbc2eb;
    transition: all 0.5s ease-in-out;
}