.adminTitle {
    text-align: center;
    margin: 0 auto 50px;
    position: relative;
    line-height: 60px;
    color: #555;
    margin-top: 60px;
}

.adminTable{
    width: 800px;
    margin: 0 auto;
    text-align: center;
    border: 2px solid #ff8ae2;
    border-radius: 15px;
    padding: 5px;
}

.adminTable th{
    background-color: #ff8ae2;
    border-radius: 10px;
    margin-left: 15px;
    margin-right: 15px;
}

.adminTable th, .adminTable td{
    padding: 20px 5px 20px 5px;
}

.trColored{
    background-color: rgba(254, 196, 245, 0.666);
}

.trColored td{
    border-radius: 15px;
}

.editIcon{
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.confirmIcon{
    color: green;
    cursor: pointer;
}

.trashIcon{
    color: red;
    cursor: pointer;
}

.dashboardAdmin{
    padding-bottom: 100px;
}

.dashboardProducts{
    background: radial-gradient(#fff, #fbc2eb);
    padding-top: 10px;
    padding-bottom: 50px;
}

.dashboardServices{
    padding-top: 10px;
    padding-bottom: 100px;
}

textarea {
    resize: none;
    text-align: center;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 2px 2px 2px rga(0, 0, 0, 0.2);
    border: 2px solid #d2bdff;
}

textarea:focus {
    outline: none;
}

.number {
    width: 2vw;
    height: 2vh;
}

.name {
    height: 4.5vh;
}

.text {
    height: 8vh;
    width: 12vw;
}

.price {
    width: 3vw;
    height: 2vh;
}