.box{
    display: flex;
    flex-direction: column;
    border: 2px solid #ff8ae2;
    border-radius: 20px;
    margin: auto;
    max-width: 1080px;
    margin-top: 40px;
    margin-bottom: 40px;
    padding: 20px;
}

.end{

    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 1080px;
    padding: 20px;

}

.btn{
    padding: 10px 25px 10px 25px;
    margin-top: 25px;
    margin-bottom: 25px;
    border: 2px solid #d2bdff;
    border-radius: 5px;
    background-color: #fbfbfb;
    font-size: 20px;
    font-weight: bold;
}

.btn:hover{
    cursor: pointer;
    background-color: #fde1f6;
    transition: all 0.5s ease-in-out;
}

.total{

    font-size: 40px;
    padding-top: 10px;
    
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: auto;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: #ff00b7;
}

.green{

    color: #009e00;

}

.breadcrumb{

    font-size: 20px;
    text-align: center;

}