.box{
    display: flex;
    flex-direction: column;
    border: 2px solid #ff8ae2;
    border-radius: 20px;
    margin: auto;
    max-width: 1080px;
    margin-top: 40px;
    padding: 20px;
}

.navegation{
    display: inline-block;
    text-align: center;
    margin: 0 auto;
}

.paymentBox{
    display: inline-block;
    padding-left: 20px;
    line-height: 30px;
}

.product{
    margin-top: 10px;
    max-width: 200px;
    padding-top: 10px;
    padding-bottom: 100px;
}

.paymentBox::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 2px;
    width: 100%;
    border-radius: 2px;
    background-color: #ff00b7;
}

.title{
    text-align: center;
    text-transform: uppercase;
    font-size: 1.5em;
    margin: auto;
    position: relative;
    line-height: 60px;
    color: #555;
}

.title::after{
    content: '';
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    height: 4px;
    width: 70px;
    border-radius: 2px;
    background-color: #ff00b7;
}

.btn{
    color: red;
    background-color: white;
    margin-top: 10px;
    margin-right: 50px;
    border: none;
}

.editIcon{

    max-width: 1000px;
    text-align: right;
    cursor: pointer;
    color: red;

}