.footer {
    background-color: #222;
    color: #fff;
    padding: 3em;
    text-align: center;
}

.social_list {
    display: flex;
    justify-content: center;
    list-style-type: none;
    padding: 0px;
}

.social_list li {
    margin: 0 1em;
    transition: all 0.6s ease-in-out;
}

.social_list li:hover {
    color: #ff00b7;
    cursor: pointer;
}

.social_list svg {
    font-size: 2em;
}

.copy_right {
    margin-top: 2em;
}

.copy_right span {
    font-weight: bold;
}