.boxProduct{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    border: 2px solid #ff8ae2;
    border-radius: 20px;
    max-width: 1080px;
    margin: 10px 20px;
    padding: 20px;
}

.img{
    width: 20%;
    padding-left: 10px;
    padding-right: 40px;
}

.add{
    width: 20%;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
}

.add p{
    width: 200px;
    padding-top: 20px;
    padding-left: 35px;
}