.box{
    padding: 30px;
    width: 200px;
    margin-bottom: 50px;
    transition: all 0.4s ease-in-out;
    border: 2px solid #ff8ae2;
    border-radius: 20px;
}

.star{
    color: #cc1a9a;
}

.box:hover{
    transform: translateY(-5px);
}

.image{
    width: 100%;
}

.btnBox{
    display: flex;
    justify-content: center;
}